wheel==0.35.1
beautifulsoup4==4.9.1
ipython==7.16.1
numpy==1.19.2
pandas==1.1.2
plotly==4.10.0
protobuf==3.13.0
pytz==2020.1
requests==2.24.0
simplejson==3.17.2
snakeviz==2.1.0
urllib3==1.25.10
jupyter==1.0.0
ujson==3.2.0
scipy==1.4.1
scikit-learn
mariadb==1.0.1
jupytext==1.6.0
Flask==1.1.2
gunicorn==20.0.4
Jinja2==2.11.2
