{% extends "template.html" %}
{% block title %}
<title>Huskarmetrics: Dota 2 Analytics</title>
{% endblock %}
{% block main %}
<div class="container-width">
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">HuskarMetrics: Dota 2 Analytics</h2>
<p>
    Yet Another Dota 2 Analytics Site (YAD2AS), designed and built by a low
    MMR hack
</p>

        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img src="static/dota2.jpg" alt="Dota 2 Logo" class="float-left p-3" />
            <h2>Welcome!</h2>
            <p>
                Welcome to the opence-source Dota 2 data analytics hobby
                project, maintained by Dr. Jubbs and <a
                    href="https://github.com/drjubbs/dota-stats">hosted on Github</a>.
            </p>
            <p>
                This site uses the Dota 2 web API to harvest match
                information to generate statistics and analytical insights on
                the current Dota 2 meta.
                Currently only a <a href="win-rate"> pareto-style analysis</a>
                of win rates and <a href="status">overall service health
                metrics</a> are being generated, with more content planned
                over the coming months.
            </p>
            <p>
                The source code is licensed under the permissive <a
                    href="https://en.wikipedia.org/wiki/MIT_License">MIT
                License</a>. The site uses the Python Flask framework for the
                webserver, Plotly for charting, and MongoDB as the back-end
                database.  sNext up enhancements include win rates by inferred
                position, and individual hero match-ups.
            </p>
        </div>
        <div class="col-3"></div>s
    </div>
</div>
{% endblock %}
