<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Fetch statitics</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
		<div id='fetch_stats' style='width:100%;'></div>
		<script>
var data=[ {{ plt_dict|safe }} ];


var layout = {
    margin: {
	l: 50,
	r: 5,
	b: 50,
	t: 40,
	pad: 5
    },
    xaxis : {
	tickformat :'%b %d',
    range: ['2018-11-10','2018-11-31']
    },
    height: 300,
    title: 'Record countie',
    showlegend: false
};

Plotly.newPlot('fetch_stats', data, layout, {displayModeBar : false});
		</script>
		<table>
		  <thead>
		  <tr><th>Time Local</th><th>Records</th></tr>
		  </thead>
		  <tbody>
		{% for row in rows %}
			<tr>
			<td>{{row[0]}}</td>
			<td>{{row[1]}}</td>
			</tr>
		{% endfor %}
		   </tbody>
		   </table>
          	</div>
            </div>

        </div>
      </div>
    </div>
    <br><br>
  </div>

  </body>
</html>
